body {
    background-color:black;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg");
    background-repeat:round;
    background-size:auto;
    color:gold;
    font-size: 20px;
    font-family:helvetica;
}

h1 {
    font-size:100px;
    font-weight:900px;
    margin-bottom: 0;
    font-family:arial;
    background-color: teal;
    text-align:right;
}

h2 {
    text-decoration:line-through;
    text-align:right; 
    margin-top: 0;
    
}

.center {
    display:inline-block;
    width:30%;
    height:30%;
    border-radius: 50%;
}

h3 {
    color:teal;
    font-weight: 700;
    font-style:italic;
    font-size:larger;
    text-align:center;
    background-color: gold;
}    

h4 {
    text-align: left;
    color:white;
    font-style: italic;
    font-size: small;
}

.layout {
    width: 300px;
    border: 10px dashed white;
    padding: 15px;
    margin: 20px;
    height: 400px;
    float:left;
    
}

.child {
    display:inline-block;
    
}

.parent {
    text-align:left;
}