body {
    background-color:black;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg");
    background-repeat:round;
    background-size:auto;
    color:gold;
    font-size: 20px;
    font-family:helvetica;
}

h1 {
    font-size:100px;
    font-weight:900px;
    margin-bottom: 0;
    margin-top:0%;
    font-family:arial;
    background-color: teal;
    text-align:center;
    letter-spacing: 25px;
    padding: 18px;
    text-decoration: underline overline;
    text-underline-offset: 25%;
}

h2 {
    text-align:center; 
    margin-top:1%;
    
}

img {
    display:block;
    width:28%;
    height:30%;
    border-radius:50%;
    margin-left:36%;
}

h3 {
    color:teal;
    font-weight: 700;
    font-style:italic;
    font-size:larger;
    text-align:center;
    background-color: gold;
    margin-top:0%;
}    

h4 {
    text-align: center;
    color:white;
    font-style: italic;
    font-size: small;
}

div {
    float:left;
    height:400px;
    width:23%;
    padding:0 10px;
}

#column1 {
    width: 300px;
    border: 10px dashed white;
    padding: 15px;
    margin-right:8%;
}

#column2 {
    width: 300px;
    border: 10px dashed white;
    padding: 15px;
    margin-right:6.8%;
}

#column3 {
    width: 300px;
    border: 10px dashed white;
    padding: 15px;
}
